<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect for Privacy">
            <match url="^https://rreemmii-dev.github.io/privacy$" />
            <action type="Redirect" url="https://github.com/rreemmii-dev/Clash-Of-Clans-Discord-Bot/blob/main/PRIVACY.md" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
